.title {
  margin: 0;
  font-weight: Helvetica;
  font-weight: 100;
}

.input {
  margin-right: 8px;
}

.button {
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h3 {
   margin: 0; 

}


.list-item {
display: grid;
grid-template-columns: max-content min-content;

}